@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpYCP.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.page__header {
  position: absolute;
  z-index: 3000;
  width: 100%;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.06);
}
.page__header .logo__header {
  margin-top: 34px;
  margin-bottom: 34px;
  margin-left: 15px;
}
.page__header .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__header .is--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .page__header .is--desktop .menu__header {
    padding-left: 0;
    padding-right: 30px;
  }
  .page__header .is--desktop .menu__header .link__header {
    font: 500 15px 'Raleway', sans-serif;
    color: #585858;
    padding-top: 40px;
    padding-bottom: 39px;
    border-bottom: 3px solid transparent;
  }
  .page__header .is--desktop .menu__header .link__header:hover {
    font: 700 15px 'Raleway', sans-serif;
    color: #0066a9;
    border-bottom: 3px solid #0066a9;
  }
  .page__header .is--desktop .search__bar {
    display: flex;
    flex-direction: row;
  }
  .page__header .is--desktop .search__bar .search__btn {
    position: absolute;
    border: none;
    background-color: #f9f9f9;
    top: 35px;
    right: 35px;
  }
  .page__header .is--desktop .search__bar .search__area {
    background-color: #f9f9f9;
    border: 1px solid transparent;
    caret-color: transparent;
    border-radius: 5px;
    padding: 24px 0 25px 30px;
    width: 420px;
    font: 400 15px 'Raleway', sans-serif;
    color: #001438;
  }
  .page__header .is--desktop .search__bar .search__area::placeholder {
    font: 500 15px 'Raleway', sans-serif;
    color: #001438;
  }
  .page__header .is--desktop .search__bar .search__area:hover {
    border-color: #51cee1;
    outline: 1px solid transparent;
  }
  .page__header .is--desktop .search__bar .search__area:focus-visible {
    outline: 1px solid #0066a9;
  }
  .page__header .is--desktop .search__bar .search__area::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: #51cee1;
    background-image: url('../img/icon-close.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top 5px left 5px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 10px;
  }
}
.page__header .is--mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page__header .is--mobile .navbar__hamburguer {
  margin: 11px;
}
.page__header .is--mobile .navbar__hamburguer img {
  width: 24px;
}
.page__header .is--mobile .navbar__search {
  margin: 11px;
}
.page__header .is--mobile .navbar__search img {
  width: 28px;
}
.page__header .is--mobile .overlay__search {
  z-index: 3000;
  display: none;
}
.page__header .is--mobile .overlay__search.open {
  display: flex;
  width: 100%;
  position: fixed;
  top: 20px;
  left: 0;
  background-color: white;
  overflow: hidden !important;
  transition: all linear 0.5s;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
}
.page__header .is--mobile .overlay__search.open .search__content {
  overflow-y: auto !important;
}
.page__header .is--mobile .overlay__search.open .search__content .search__bar {
  display: flex;
  flex-direction: row;
}
.page__header .is--mobile .overlay__search.open .search__content .search__bar .search__btn {
  position: absolute;
  border: none;
  background-color: #f9f9f9;
  top: 42px;
  right: 42px;
}
.page__header .is--mobile .overlay__search.open .search__content .search__bar .search__area {
  background-color: #f9f9f9;
  border: 1px solid transparent;
  caret-color: transparent;
  border-radius: 5px;
  padding: 24px 0 25px 30px;
  width: 340px;
  font: 400 15px 'Raleway', sans-serif;
  color: #001438;
}
.page__header .is--mobile .overlay__search.open .search__content .search__bar .search__area::placeholder {
  font: 500 15px 'Raleway', sans-serif;
  color: #001438;
}
.page__header .is--mobile .overlay__search.open .search__content .search__bar .search__area:hover {
  border-color: #51cee1;
  outline: 1px solid transparent;
}
.page__header .is--mobile .overlay__search.open .search__content .search__bar .search__area:focus-visible {
  outline: 1px solid #0066a9;
}
.page__header .is--mobile .overlay__search.open .search__content .search__bar .search__area::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: #51cee1;
  background-image: url('../img/icon-close.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: top 5px left 5px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin-right: 5px;
}
.page__header .is--mobile .navbar__overlay {
  z-index: 3000;
  display: none;
}
.page__header .is--mobile .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #001438;
  background-image: url('../img/bg-menu.svg');
  background-repeat: no-repeat;
  background-position: bottom -10px right -33px;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__close {
  margin: 30px 30px 10px 0;
  font-size: 20px;
  color: white;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__logo {
  margin: 30px 0 0 30px;
  width: 125px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
  margin-top: 82px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links .link {
  color: white;
  font: 500 15px 'Raleway', sans-serif;
  margin-bottom: 15px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links .link:hover {
  color: #51cee1;
  font-weight: 700;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__social {
  width: 102px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__social .icon__menu:hover {
  filter: brightness(0) saturate(100%) invert(92%) sepia(11%) saturate(7071%) hue-rotate(155deg) brightness(93%) contrast(88%);
}
@media screen and (min-width: 768px) {
  .page__header .is--mobile {
    display: none;
  }
}
.btn__blue {
  display: block;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid #0066a9;
  font: 700 18px 'Raleway', sans-serif;
  color: #0066a9;
  text-align: center;
  padding: 24px 0 24px 0;
  background-color: white;
  transition: all 0.3s linear;
}
.btn__blue:hover {
  border: 1px solid transparent;
  background-color: #0066a9;
  color: white;
}
.btn__blue2 {
  display: block;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid transparent;
  font: 700 18px 'Raleway', sans-serif;
  color: white;
  text-align: center;
  padding: 19px 42px;
  background-color: #0066a9;
  transition: all 0.3s linear;
}
.btn__blue2:hover {
  border: 1px solid #0066a9;
  background-color: transparent;
  color: #0066a9;
}
.btn__white {
  display: block;
  width: fit-content;
  font: 700 18px 'Raleway', sans-serif;
  color: #0066a9;
  border-radius: 10px;
  border: 1px solid transparent;
  text-align: center;
  padding: 24px 0 24px 0;
  background-color: white;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.06);
  transition: all 0.3s linear;
}
.btn__white:hover {
  border: 1px solid white;
  background-color: #0066a9;
  color: white;
}
.btn__white2 {
  display: block;
  width: fit-content;
  font: 700 18px 'Raleway', sans-serif;
  color: #0066a9;
  border-radius: 5px;
  border: 1px solid transparent;
  text-align: center;
  padding: 24px 0 24px 0;
  background-color: white;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.16);
  transition: all 0.3s linear;
}
.btn__white2:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.page__footer {
  background-image: url('../img/bg-footer-mobile.webp');
  background-size: cover;
}
.page__footer .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding-top: 60px;
  padding-bottom: 40px;
  margin-right: 30px;
  margin-left: 30px;
}
.page__footer .cta .cta__title {
  font: 800 36px 'Raleway', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .page__footer .cta .cta__title {
    text-align: left;
    font-size: 46px;
    margin-bottom: 0;
    width: 468px;
  }
}
.page__footer .cta .btn {
  display: flex;
  justify-content: center;
}
.page__footer .cta .btn .btn__cta {
  width: 228px;
}
@media screen and (min-width: 768px) {
  .page__footer .cta .btn {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .page__footer .cta {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 114px;
    padding-bottom: 81px;
  }
}
@media screen and (min-width: 768px) {
  .page__footer .cta {
    margin-right: 0;
    margin-left: 0;
  }
}
.page__footer .footer {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-right: 30px;
  margin-left: 30px;
}
.page__footer .footer .col__1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 59px;
}
.page__footer .footer .col__1 .logo__footer {
  width: 200px;
  margin-bottom: 30px;
}
.page__footer .footer .col__1 .footer__text {
  font: 400 14px 'Raleway', sans-serif;
  color: white;
  margin-bottom: 15px;
  line-height: 25px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page__footer .footer .col__1 .footer__text {
    text-align: left;
  }
}
.page__footer .footer .col__1 .central {
  color: white;
  margin-bottom: 22px;
}
.page__footer .footer .col__1 .central .icon__phone {
  margin-right: 10px;
}
.page__footer .footer .col__1 .central .central__text {
  font: 400 16px 'Raleway', sans-serif;
  text-decoration: underline;
}
.page__footer .footer .col__1 .central:hover {
  color: #51cee1;
}
.page__footer .footer .col__1 .social__footer {
  width: 137px;
}
.page__footer .footer .col__1 .social__footer .icon__menu {
  width: 25px;
}
.page__footer .footer .col__1 .social__footer .icon__menu:hover {
  filter: brightness(0) saturate(100%) invert(92%) sepia(11%) saturate(7071%) hue-rotate(155deg) brightness(93%) contrast(88%);
}
@media screen and (min-width: 768px) {
  .page__footer .footer .col__1 .social__footer .icon__menu {
    width: fit-content;
  }
}
@media screen and (min-width: 768px) {
  .page__footer .footer .col__1 .social__footer {
    width: 102px;
  }
}
@media screen and (min-width: 768px) {
  .page__footer .footer .col__1 {
    align-items: flex-start;
    margin-bottom: 0;
  }
}
.page__footer .footer .nav__footer,
.page__footer .footer .products__footer,
.page__footer .footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.page__footer .footer .nav__footer .nav__title,
.page__footer .footer .products__footer .nav__title,
.page__footer .footer .contact .nav__title {
  font: 300 18px 'Raleway', sans-serif;
  color: #51cee1;
  letter-spacing: 5.4px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.page__footer .footer .nav__footer .link,
.page__footer .footer .products__footer .link,
.page__footer .footer .contact .link {
  font: 400 16px 'Raleway', sans-serif;
  color: white;
  margin-bottom: 15px;
}
.page__footer .footer .nav__footer .link:hover,
.page__footer .footer .products__footer .link:hover,
.page__footer .footer .contact .link:hover {
  color: #51cee1;
}
@media screen and (min-width: 768px) {
  .page__footer .footer .nav__footer,
  .page__footer .footer .products__footer,
  .page__footer .footer .contact {
    align-items: flex-start;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .page__footer .footer .nav__footer {
    padding-left: 85px;
  }
}
.page__footer .footer .contact .nav__title.address {
  margin-top: 25px;
  margin-bottom: 19px;
}
@media screen and (min-width: 768px) {
  .page__footer .footer .contact .nav__title.address {
    margin-top: 14px;
  }
}
.page__footer .footer .icon__arrow {
  transition: transform 0.3s linear;
  position: absolute;
  top: -65px;
  right: 0;
}
.page__footer .footer .icon__arrow:hover {
  filter: brightness(0) saturate(100%) invert(92%) sepia(11%) saturate(7071%) hue-rotate(155deg) brightness(93%) contrast(88%);
  transform: translateY(-10px);
}
@media screen and (min-width: 768px) {
  .page__footer .footer .icon__arrow {
    position: static;
  }
}
@media screen and (min-width: 768px) {
  .page__footer .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 0;
    margin-left: 0;
  }
}
.page__footer .copyrights {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 38px;
}
.page__footer .copyrights .customer .copyrights__customer {
  font: 400 14px 'Raleway', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .page__footer .copyrights .customer .copyrights__customer {
    text-align: left;
    margin-bottom: 0;
  }
}
.page__footer .copyrights .ldna {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .page__footer .copyrights .ldna {
    justify-content: flex-end;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .page__footer .copyrights {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .page__footer {
    background-image: url('../img/bg-footer.webp');
  }
}
.button__whatsapp--floating {
  display: inline-block;
  z-index: 175;
  position: fixed;
  bottom: 5px;
  right: 9px;
  padding: 7px 12px;
  background-color: #2acc1e;
  color: #13172d;
}
.button__whatsapp--floating i {
  font-size: 36px;
  color: #191d36;
}
.button__whatsapp--floating:hover i {
  color: #FFFFFF;
}
.owl-carousel.owl-theme.banner__carousel {
  display: none;
}
@media screen and (min-width: 768px) {
  .owl-carousel.owl-theme.banner__carousel {
    display: block;
  }
  .owl-carousel.owl-theme.banner__carousel img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .owl-carousel.owl-theme.banner__carousel .owl-dots {
    position: absolute;
    z-index: 10;
    margin-top: -40px;
    left: calc(50% - 25px);
  }
  .owl-carousel.owl-theme.banner__carousel .owl-dots .owl-dot span {
    background-color: white;
  }
  .owl-carousel.owl-theme.banner__carousel .owl-dots .owl-dot.active span {
    background-color: #51cee1;
  }
}
.owl-carousel.owl-theme.banner__mobile img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.owl-carousel.owl-theme.banner__mobile .owl-dots {
  position: absolute;
  z-index: 10;
  margin-top: -40px;
  left: calc(50% - 25px);
}
.owl-carousel.owl-theme.banner__mobile .owl-dots .owl-dot span {
  background-color: white;
}
.owl-carousel.owl-theme.banner__mobile .owl-dots .owl-dot.active span {
  background-color: #51cee1;
}
@media screen and (min-width: 768px) {
  .owl-carousel.owl-theme.banner__mobile {
    display: none;
  }
}
.owl-carousel.owl-theme.products__mobile .owl-item .product__name {
  font: 800 22px 'Raleway', sans-serif;
  color: #001438;
  margin-top: 20px;
  margin-bottom: 30px;
}
.owl-carousel.owl-theme.products__mobile .owl-dots .owl-dot span {
  background-color: #eeeeee;
}
.owl-carousel.owl-theme.products__mobile .owl-dots .owl-dot.active span {
  background-color: #51cee1;
}
.owl-carousel.owl-theme.news__mobile .card {
  min-height: 451px;
  margin-bottom: 30px;
}
.owl-carousel.owl-theme.news__mobile .card .card-body {
  padding: 5px;
  position: relative;
  z-index: 5;
}
.owl-carousel.owl-theme.news__mobile .card .card-body .tag__date {
  position: absolute;
  top: 222px;
  left: 25px;
  z-index: 10;
  width: 119px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0066a9;
  border-radius: 5px;
  font: 700 16px 'Raleway', sans-serif;
  color: white;
  text-align: center;
}
.owl-carousel.owl-theme.news__mobile .card .card-body .title {
  padding: 39px 32px 0 25px;
  font: 800 22px 'Raleway', sans-serif;
  color: #001438;
  line-height: 30px;
}
.owl-carousel.owl-theme.news__mobile .card .icon__dots {
  width: fit-content;
  margin-bottom: 25px;
  margin-left: 25px;
}
.owl-carousel.owl-theme.news__mobile .owl-dots .owl-dot span {
  background-color: #eeeeee;
}
.owl-carousel.owl-theme.news__mobile .owl-dots .owl-dot.active span {
  background-color: #51cee1;
}
.owl-carousel.owl-theme.product__carousel .owl-dots {
  margin-top: 25px;
}
.owl-carousel.owl-theme.product__carousel .owl-dots .owl-dot span {
  background-color: #eeeeee;
}
.owl-carousel.owl-theme.product__carousel .owl-dots .owl-dot.active span {
  background-color: #51cee1;
}
.breadcrumb {
  background-color: #001438;
  background-image: url('../img/breadcrumb-full.webp');
  background-repeat: no-repeat;
  background-position: right -415px top 0;
  background-size: auto;
}
.breadcrumb .row {
  padding-top: 185px;
  padding-bottom: 48px;
}
.breadcrumb .row .title {
  font: 700 36px 'Raleway', sans-serif;
  color: white;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .breadcrumb .row .title {
    font-size: 46px;
    margin-bottom: 0;
  }
}
.breadcrumb .row .menu .previous {
  font: 400 16px 'Raleway', sans-serif;
  color: white;
  margin-right: 9px;
}
.breadcrumb .row .menu .arrow {
  margin-right: 9px;
  width: 13px;
}
.breadcrumb .row .menu .current {
  font: 600 16px 'Raleway', sans-serif;
  color: #51cee1;
}
@media screen and (min-width: 768px) {
  .breadcrumb .row .menu {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .breadcrumb .row {
    padding-top: 223px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) {
  .breadcrumb {
    background-color: #001438;
    background-image: url('../img/breadcrumb-full.webp');
    background-repeat: no-repeat;
    background-position: right 40px top 0;
    background-size: cover;
  }
}
.page__products .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__products .is--desktop {
    display: flex;
  }
  .page__products .is--desktop .title__line {
    width: fit-content;
    margin-bottom: 20px;
  }
  .page__products .is--desktop .products__title {
    font: 800 36px 'Raleway', sans-serif;
    color: #001438;
  }
  .page__products .is--desktop .products__title .mark__blue {
    color: #51cee1;
  }
  .page__products .is--desktop .product__category {
    margin-bottom: 30px;
  }
  .page__products .is--desktop .product__category .photo__product {
    width: 270px;
    height: 270px;
    border-radius: 5px;
  }
  .page__products .is--desktop .product__category .product__overlay {
    display: none;
  }
  .page__products .is--desktop .product__category:hover .product__overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 254px;
    height: 254px;
    position: absolute;
    background-color: rgba(0, 102, 169, 0.6);
    border-radius: 5px;
    z-index: 3000;
    top: 8px;
    left: 23px;
  }
  .page__products .is--desktop .product__category:hover .product__overlay .product__name {
    font: 800 22px 'Raleway', sans-serif;
    color: white;
    margin-bottom: 87px;
  }
  .page__products .is--desktop .product__category:hover .product__overlay .icon__dots {
    width: fit-content;
    margin-bottom: 20px;
  }
}
.page__products .is--mobile .title__line {
  width: fit-content;
  margin-bottom: 20px;
}
.page__products .is--mobile .products__title {
  font: 800 36px 'Raleway', sans-serif;
  color: #001438;
}
.page__products .is--mobile .products__title .mark__blue {
  color: #51cee1;
}
@media screen and (min-width: 768px) {
  .page__products .is--mobile {
    display: none;
  }
}
.page__products .btn__products {
  width: 202px;
}
.page__numbers {
  background-image: url('../img/bg-numbers-mobile.webp');
  background-repeat: no-repeat;
  background-position: top -11px left 0;
  background-size: cover;
  color: white;
}
.page__numbers .numbers {
  padding-top: 74px;
  padding-bottom: 71px;
}
.page__numbers .numbers .number {
  font: 700 46px 'Raleway', sans-serif;
  text-align: center;
  margin-bottom: 8px;
}
.page__numbers .numbers .info {
  font: 300 20px 'Raleway', sans-serif;
  letter-spacing: 12.96px;
  text-transform: uppercase;
  margin-bottom: 41px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page__numbers .numbers .info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .page__numbers {
    background-image: url('../img/bg-numbers.webp');
    background-repeat: no-repeat;
    background-position: top 0 left -5px;
  }
}
.page__about .photo__about {
  margin-left: -37px;
  min-width: 357px;
}
@media screen and (min-width: 768px) {
  .page__about .photo__about {
    margin-left: 0;
  }
}
.page__about .about__content {
  margin-top: 39px;
  margin-bottom: 20px;
  max-width: 426px;
}
.page__about .about__content .title__line {
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 52px;
}
.page__about .about__content .about__title {
  font: 800 42px 'Raleway', sans-serif;
  color: #001438;
  margin-bottom: 18px;
}
.page__about .about__content .about__title .mark__blue {
  color: #51cee1;
}
.page__about .about__content .about__text {
  font: 400 15px 'Raleway', sans-serif;
  color: #393c40;
  line-height: 25px;
  margin-bottom: 40px;
}
.page__about .about__content .btn__about {
  width: 204px;
}
@media screen and (min-width: 768px) {
  .page__about .about__content {
    margin-left: 70px;
    margin-top: 52px;
    margin-bottom: 100px;
  }
}
.page__news {
  background-image: url('../img/bg-news-mobile.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.page__news .line {
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 133px;
}
@media screen and (min-width: 768px) {
  .page__news .line {
    margin-top: 0;
  }
}
.page__news .news__title {
  font: 800 46px 'Raleway', sans-serif;
  color: white;
  margin-bottom: 30px;
}
.page__news .btn__news.desk {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__news .btn__news.desk {
    display: block;
    width: 192px;
  }
}
.page__news .btn__news.mobile {
  width: 192px;
  margin-top: 30px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .page__news .btn__news.mobile {
    display: none;
  }
}
.page__news .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__news .is--desktop {
    display: block;
  }
  .page__news .is--desktop .card {
    min-height: 451px;
  }
  .page__news .is--desktop .card .card-body {
    padding: 5px;
    position: relative;
    z-index: 5;
  }
  .page__news .is--desktop .card .card-body .tag__date {
    position: absolute;
    top: 189px;
    left: 25px;
    z-index: 10;
    width: 119px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0066a9;
    border-radius: 5px;
    font: 700 16px 'Raleway', sans-serif;
    color: white;
    text-align: center;
  }
  .page__news .is--desktop .card .card-body .title {
    padding: 39px 32px 0 25px;
    font: 800 22px 'Raleway', sans-serif;
    color: #001438;
    line-height: 30px;
  }
  .page__news .is--desktop .card .icon__dots {
    width: fit-content;
    margin-bottom: 25px;
    margin-left: 25px;
  }
  .page__news .is--desktop .card:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 768px) {
  .page__news .is--mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .page__news {
    background-image: url('../img/bg-news.webp');
    background-position: bottom -2px left 0;
    padding-bottom: 70px;
  }
}
.page__contact {
  padding-top: 45px;
}
.page__contact .contact__header h2 {
  font: 800 32px 'Raleway', sans-serif;
  color: #001438;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .page__contact .contact__header h2 {
    font-size: 42px;
  }
}
@media screen and (min-width: 768px) {
  .page__contact .contact__header {
    margin-top: 45px;
    margin-bottom: 0;
  }
}
.page__contact .form__standard input[type="text"],
.page__contact .form__standard input[type="email"],
.page__contact .form__standard input[type="tel"],
.page__contact .form__standard input[type="number"],
.page__contact .form__standard input[type="date"],
.page__contact .form__standard textarea {
  padding: 20px 30px;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  font: 400 15px 'Raleway', sans-serif;
  color: #4d4d4d;
  border: 1px solid transparent;
  caret-color: transparent;
}
.page__contact .form__standard input[type="text"]:hover,
.page__contact .form__standard input[type="email"]:hover,
.page__contact .form__standard input[type="tel"]:hover,
.page__contact .form__standard input[type="number"]:hover,
.page__contact .form__standard input[type="date"]:hover,
.page__contact .form__standard textarea:hover {
  border-color: #585858;
  outline: 1px solid transparent;
}
.page__contact .form__standard input[type="text"]:focus-visible,
.page__contact .form__standard input[type="email"]:focus-visible,
.page__contact .form__standard input[type="tel"]:focus-visible,
.page__contact .form__standard input[type="number"]:focus-visible,
.page__contact .form__standard input[type="date"]:focus-visible,
.page__contact .form__standard textarea:focus-visible {
  border-color: #51cee1;
  outline: 1px solid #51cee1;
}
.page__contact .form__standard button[type="submit"] {
  display: block;
  width: fit-content;
  border-radius: 10px;
  border: 1px solid transparent;
  font: 700 18px 'Raleway', sans-serif;
  color: white;
  text-align: center;
  padding: 19px 42px;
  background-color: #0066a9;
  transition: all 0.3s linear;
}
.page__contact .form__standard button[type="submit"]:hover {
  border: 1px solid #0066a9;
  background-color: transparent;
  color: #0066a9;
}
.page__contact .form__standard .util--mt {
  margin-top: 20px;
}
.page__contact .form__standard input[type="tel"],
.page__contact .form__standard textarea {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .page__contact .form__standard {
    padding-top: 45px;
    padding-bottom: 100px;
  }
  .page__contact .form__standard input[type="tel"],
  .page__contact .form__standard textarea {
    margin-top: 0;
  }
}
.page__contact .form__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 48px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .page__contact .form__footer {
    margin-bottom: 0;
  }
}
.page__info .container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.page__info .container h2 {
  padding-top: 30px;
  padding-bottom: 10px;
  font: 800 36px 'Raleway', sans-serif;
  color: #001438;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page__info .container h2 {
    font-size: 28px;
  }
}
.page__info .container p {
  margin-bottom: 30px;
  color: #919191;
  font: 400 14px 'Raleway', sans-serif;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .page__info .container {
    margin-top: 100px;
    margin-bottom: 95px;
  }
}
.page__values {
  padding-top: 25px;
  margin-bottom: 50px;
}
.page__values .value__card {
  border: 1px solid #51cee1;
  border-radius: 10px;
  padding: 40px 50px;
  min-width: 330px;
  min-height: 408px;
  margin-bottom: 20px;
}
.page__values .value__card h3 {
  margin-top: 19px;
  margin-bottom: 21px;
  color: #001438;
  font: 800 26px 'Raleway', sans-serif;
}
.page__values .value__card p {
  color: #919191;
  font: 400 15px/30px 'Raleway', sans-serif;
}
@media screen and (min-width: 768px) {
  .page__values .value__card {
    padding: 61px 70px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .page__values {
    margin-top: 100px;
  }
}
.page__products--grid {
  padding-top: 40px;
  padding-bottom: 50px;
}
.page__products--grid .products__categories {
  margin-bottom: 30px;
}
.page__products--grid .products__categories h2 {
  color: #0066a9;
  font: 300 20px 'Raleway', sans-serif;
  margin-bottom: 21px;
  letter-spacing: 4px;
}
.page__products--grid .products__categories a {
  padding-top: 5px;
  padding-bottom: 5px;
  font: 400 16px 'Raleway', sans-serif;
  color: #001438;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.page__products--grid .products__categories a.active {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.page__products--grid .products__categories a:hover {
  background-color: rgba(81, 206, 225, 0.25);
  padding-left: 10px;
}
.page__products--grid .products__cards .product__card {
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page__products--grid .products__cards .product__card .cover {
  height: 192px;
  border-radius: 10px 10px 0 0;
}
.page__products--grid .products__cards .product__card .cover img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.page__products--grid .products__cards .product__card .info {
  padding-left: 30px;
  padding-right: 15px;
  flex-grow: 1;
  margin-bottom: 9px;
}
.page__products--grid .products__cards .product__card .info .tag {
  margin-bottom: 10px;
  color: #51cee1;
  font: 400 14px 'Raleway', sans-serif;
  letter-spacing: 7px;
  text-transform: uppercase;
}
.page__products--grid .products__cards .product__card .info .name {
  color: #001438;
  font: 800 18px 'Raleway', sans-serif;
  margin-bottom: 19px;
}
.page__products--grid .products__cards .product__card .info .text {
  color: #393c40;
  font: 400 14px/20px 'Raleway', sans-serif;
  margin-bottom: 9px;
}
.page__products--grid .products__cards .product__card .button {
  padding: 20px;
  background-color: #0066a9;
  border-radius: 0 0 10px 10px;
  color: white;
  font: 700 18px 'Raleway', sans-serif;
  text-align: center;
}
.page__products--grid .products__cards .product__card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.page__products--grid .products__cards .product__card:hover .button {
  background-color: hsl(204, 100%, 43%);
}
@media screen and (min-width: 768px) {
  .page__products--grid {
    padding-top: 100px;
  }
}
.page__product--detail {
  padding-top: 60px;
  padding-bottom: 50px;
}
.page__product--detail .product__upper {
  padding-bottom: 50px;
}
.page__product--detail .product__carousel img {
  border-radius: 10px;
}
.page__product--detail .product__about .tag {
  color: #51cee1;
  font: 400 16px 'Raleway', sans-serif;
  letter-spacing: 8px;
  margin-bottom: 9px;
}
.page__product--detail .product__about .name {
  color: #001438;
  font: 800 36px 'Raleway', sans-serif;
  margin-bottom: 19px;
}
.page__product--detail .product__about .description {
  color: #393c40;
  font: 400 15px/30px 'Raleway', sans-serif;
  margin-bottom: 19px;
}
.page__product--detail .product__about .ask .text {
  display: block;
  color: #0f0f4d;
  font: 700 18px 'Raleway', sans-serif;
  margin-bottom: 10px;
}
.page__product--detail .product__about .ask .product {
  color: #585858;
  font: 500 18px 'Raleway', sans-serif;
}
.page__product--detail .product__about .button {
  margin-top: 32px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #2acc1e;
  width: fit-content;
  color: #001438;
  font: 700 18px 'Raleway', sans-serif;
  transition: background 0.3s linear;
}
.page__product--detail .product__about .button img {
  padding-right: 15px;
}
.page__product--detail .product__about .button:hover {
  background-color: hsl(116, 74%, 56%);
}
.page__product--detail .product__about .button:hover img {
  filter: brightness(0) invert(1);
}
.page__product--detail .product__description h3 {
  background-image: url('../img/icon-line.svg');
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #001438;
  font: 800 36px 'Raleway', sans-serif;
}
.page__product--detail .product__description p {
  color: #393c40;
  font: 400 15px/30px 'Raleway', sans-serif;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .page__product--detail {
    padding-top: 119px;
    padding-bottom: 100px;
  }
  .page__product--detail .product__upper {
    padding-bottom: 100px;
  }
  .page__product--detail .product__about .name {
    font: 800 42px 'Raleway', sans-serif;
  }
}
.page__blog {
  padding-top: 50px;
  padding-bottom: 50px;
}
.page__blog .menu {
  margin-bottom: 30px;
  text-align: center;
}
.page__blog .menu .category__title {
  font: 300 20px 'Raleway', sans-serif;
  color: #001438;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.page__blog .menu .category {
  font: 400 16px 'Raleway', sans-serif;
  color: #001438;
  margin-bottom: 18px;
}
.page__blog .menu .category.active {
  font-weight: 800;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .page__blog .menu {
    margin-bottom: 0;
    text-align: left;
  }
}
.page__blog .card__blog {
  padding: 5px;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: white;
  margin-bottom: 30px;
  flex-direction: column;
}
.page__blog .card__blog picture {
  width: 100%;
}
.page__blog .card__blog picture img {
  width: 100%;
}
.page__blog .card__blog .card__content {
  padding: 30px 10px;
  max-width: 455px;
}
.page__blog .card__blog .card__content .tag__date {
  padding: 5px 20px;
  background-color: #0066a9;
  border-radius: 5px;
  font: 700 16px 'Raleway', sans-serif;
  color: white;
  text-align: center;
}
.page__blog .card__blog .card__content .title {
  font: 800 22px 'Raleway', sans-serif;
  color: #001438;
  line-height: 30px;
  margin-bottom: 9px;
  margin-top: 20px;
}
.page__blog .card__blog .card__content .text {
  font: 400 14px 'Raleway', sans-serif;
  color: #393c40;
  line-height: 25px;
  margin-bottom: 16px;
}
.page__blog .card__blog .card__content .icon__dots {
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .page__blog .card__blog .card__content {
    padding: 20px 35px;
  }
}
.page__blog .card__blog:hover {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .page__blog .card__blog {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .page__blog {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.new__detail {
  padding-top: 50px;
  padding-bottom: 50px;
}
.new__detail .new__content .new__title {
  font: 700 28px 'Raleway', sans-serif;
  color: #001438;
  margin-bottom: 30px;
}
.new__detail .new__content .new__photo {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .new__detail .new__content .new__photo {
    margin-bottom: 24px;
  }
}
.new__detail .new__content .photo__footer {
  flex-direction: column;
}
.new__detail .new__content .photo__footer .date {
  font: 400 16px 'Raleway', sans-serif;
  color: #0066a9;
  letter-spacing: 1.6px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .new__detail .new__content .photo__footer .date {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
}
.new__detail .new__content .photo__footer .social__links {
  width: 180px;
  margin-bottom: 31px;
}
.new__detail .new__content .photo__footer .social__links .share {
  font: 400 14px 'Raleway', sans-serif;
  color: #585858;
  letter-spacing: 1.8px;
}
@media screen and (min-width: 768px) {
  .new__detail .new__content .photo__footer .social__links .share {
    font-size: 18px;
  }
}
.new__detail .new__content .photo__footer .social__links img {
  height: 16px;
}
@media screen and (min-width: 768px) {
  .new__detail .new__content .photo__footer .social__links {
    width: 223px;
  }
}
@media screen and (min-width: 768px) {
  .new__detail .new__content .photo__footer {
    flex-direction: row;
  }
}
.new__detail .new__content .new__text {
  font: 400 14px 'Raleway', sans-serif;
  color: #4d4d4d;
  line-height: 25px;
}
@media screen and (min-width: 768px) {
  .new__detail {
    padding-top: 85px;
    padding-bottom: 100px;
  }
}
.related__news {
  background-color: #f9f9f9;
  padding-top: 48px;
  padding-bottom: 48px;
}
.related__news .related__title {
  font: 800 36px 'Raleway', sans-serif;
  color: #001438;
  margin-bottom: 25px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .related__news .related__title {
    font-size: 46px;
    text-align: left;
  }
}
.related__news .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .related__news .is--desktop {
    display: flex;
  }
  .related__news .is--desktop .card {
    min-height: 451px;
  }
  .related__news .is--desktop .card .card-body {
    padding: 5px;
    position: relative;
    z-index: 5;
  }
  .related__news .is--desktop .card .card-body .tag__date {
    position: absolute;
    top: 189px;
    left: 25px;
    z-index: 10;
    width: 119px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0066a9;
    border-radius: 5px;
    font: 700 16px 'Raleway', sans-serif;
    color: white;
    text-align: center;
  }
  .related__news .is--desktop .card .card-body .title {
    padding: 39px 32px 0 25px;
    font: 800 22px 'Raleway', sans-serif;
    color: #001438;
    line-height: 30px;
  }
  .related__news .is--desktop .card .icon__dots {
    width: fit-content;
    margin-bottom: 25px;
    margin-left: 25px;
  }
  .related__news .is--desktop .card:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 768px) {
  .related__news .is--mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .related__news {
    padding-top: 79px;
    padding-bottom: 100px;
  }
}
.page__compliance {
  padding-top: 50px;
  padding-bottom: 60px;
}
.page__compliance .compliance__text h2 {
  background-image: url('../img/icon-line.svg');
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  padding-top: 20px;
  padding-bottom: 18px;
  color: #001438;
  font: 800 36px 'Raleway', sans-serif;
}
.page__compliance .compliance__text h2 span {
  color: #51cee1;
}
.page__compliance .compliance__text p {
  color: #393c40;
  font: 400 15px/30px 'Raleway', sans-serif;
}
@media screen and (min-width: 768px) {
  .page__compliance {
    padding-top: 115px;
  }
  .page__compliance .compliance__text {
    padding-left: calc(83px - 30px);
  }
  .page__compliance .compliance__text h2 {
    font: 800 42px 'Raleway', sans-serif;
  }
}
.page__downloads {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f9f9f9;
}
.page__downloads .download__box {
  margin-bottom: 20px;
  width: 100%;
  height: 263px;
  border-radius: 10px;
  background-color: #0066a9;
  padding-bottom: 50px;
  padding-left: 35px;
  background-image: url('../img/pdf-bg.webp');
  background-position: right 10px bottom 10px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 18px;
}
.page__downloads .download__box p {
  background-image: url('../img/icon-line2.svg');
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  padding-top: 20px;
  color: #ffffff;
  font: 700 22px 'Raleway', sans-serif;
}
.page__downloads .download__box a {
  border-radius: 10px;
  border: 1px solid #0066a9;
  background-color: #ffffff;
  color: #0066a9;
  font: 700 18px 'Raleway', sans-serif;
  width: fit-content;
  padding: 20px 40px;
  transition: all 0.3s linear;
}
.page__downloads .download__box a img {
  padding-right: 9px;
}
.page__downloads .download__box a:hover {
  color: #51cee1;
  border: 1px solid #51cee1;
}
@media screen and (min-width: 768px) {
  .page__downloads {
    padding-top: 79px;
    padding-bottom: 79px;
  }
  .page__downloads .download__box {
    margin-bottom: 0;
    padding-left: 70px;
  }
  .page__downloads .download__box p {
    font: 700 26px 'Raleway', sans-serif;
  }
}
.page__complaint {
  padding-top: 50px;
  padding-bottom: 50px;
}
.page__complaint h2 {
  background-image: url('../img/icon-line.svg');
  background-repeat: no-repeat;
  background-position: top 0 left 49%;
  padding-top: 20px;
  text-align: center;
  color: #001438;
  font: 800 36px 'Raleway', sans-serif;
  margin-bottom: 20px;
}
.page__complaint form .instruction {
  margin-bottom: 32px;
  border-radius: 10px;
  background-color: rgba(0, 102, 169, 0.09);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 18px 15px;
  color: #0066a9;
  font: 400 15px 'Raleway', sans-serif;
  text-align: center;
}
.page__complaint form .instruction img {
  width: fit-content;
}
.page__complaint form input,
.page__complaint form textarea,
.page__complaint form select {
  border-radius: 5px;
  border: 0;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 30px;
  color: #4d4d4d;
  font: 400 15px 'Raleway', sans-serif;
}
.page__complaint form .file-input-wrapper {
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
}
.page__complaint form .file-input-wrapper input[type="file"] {
  display: none;
}
.page__complaint form .file-input-wrapper label {
  border-radius: 0 5px 5px 0;
  margin-bottom: 0;
  cursor: pointer;
  background-color: #0066a9;
  padding: 20px 30px;
  color: white;
}
.page__complaint form .file-input-wrapper label:hover {
  background-color: hsl(204, 100%, 43%);
}
.page__complaint form .file-input-wrapper #file-name {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  flex-grow: 1;
  color: #919191;
  font: 400 15px 'Raleway', sans-serif;
}
.page__complaint form .form__footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.page__complaint form .form__footer .btn__blue {
  width: 100%;
  text-align: center;
  padding: 19px 42px;
}
@media screen and (min-width: 768px) {
  .page__complaint {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .page__complaint form .instruction {
    flex-direction: row;
    gap: 15px;
  }
  .page__complaint form .form__footer {
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
  }
  .page__complaint form .form__footer .btn__blue {
    width: fit-content;
  }
}
